name: Markup AI Content Analysis

on:
  push:
  pull_request:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  statuses: write

jobs:
  content-quality-analysis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Run Markup AI Analysis
        uses: markupai/content-guardian-action@v1
        with:
          # the `tone` parameter is optional; valid values: formal, informal, academic
          tone: formal
          dialect: american_english
          style-guide: microsoft
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MARKUP_AI_API_KEY: ${{ secrets.MARKUP_AI_API_KEY_PROD }}
